.col-7 {
    background-color: red;
}
.col-5 {
    background-color: yellow;
}
.header {
    background-color: red;
}
.container-xxl {
    display: flex;
    justify-content: space-between;
}
.card {
    margin-top: 50px;
}
.active {
    font-size: 18px;
    border-bottom: 2px solid darkblue;
}
.navbar-brand {
    font-size: 30px;
    color: brown;
}